{#
/**
 * @file
 * Template for the Odometer Field Formatter.
 *
 * Available variables:
 * - odometer_settings: Array which contain duration, theme.
 *
 * @ingroup themeable
 */
#}

{% set duration = odometer_settings.duration is not empty ? odometer_settings.duration : 3000 %}
{% set theme = odometer_settings.theme is not empty ? odometer_settings.theme : 'default' %}

<div class="odometer-wrapper odometer"
  data-odometer
  data-odometer-value="{{ value }}"
  data-odometer-duration="{{ duration }}"
  data-odometer-theme="{{ theme }}">
</div>
